<h1 mat-dialog-title class="title">New Project</h1>
<div class="mat-dialog-content">
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" placeholder="Project name">
    </div>
    <div class="form-group">
      <label for="focus-area">Focus Area</label>
      <select class="form-control">
        <option>Focus Area</option>
      </select>
    </div>
    <div class="form-group">
      <label for="focus-area">Verticle</label>
      <select class="form-control">
        <option>Verticle</option>
      </select>
    </div>
    <div class="form-group">
      <label for="region">Region</label>
      <input type="text" class="form-control" placeholder="Region">
    </div>
  </form>
</div>
<div class="mat-dialog-actions">
  <button type="button" class="btn save">SAVE DRAFT</button>
  <button type="button" class="btn cancel">CANCEL</button>
</div>