$primary-color: #B63D3B;
$secondary-color: #F0F0F0;

.project-list-container {
    margin: 1.5rem;
    position: relative;
}

table {
    width: 100%;
}

th {
    background-color: $secondary-color;
}

.mat-header-cell {
    font-weight: 600;
}

.mat-tab-label-container {
    background-color: $secondary-color;
}

mat-ink-bar {
    height: 3px;
    background-color: $primary-color !important;
}


.add-btn {
    position: absolute;
    top: 3%;
    right: 2%;
    z-index: 3;
    background: none;
    border: none;
    font-size: 1.0rem;
    cursor: pointer;
    color: #565656;
}

.stage-btn {
    background-color: white;
    border: none;
    border: 1px solid yellow;
    border-radius: 5px;
    padding: 0.5rem 1.0rem;
}