<h1 mat-dialog-title class="title">Add Team Members</h1>
<div class="mat-dialog-content">
  <div class="search-box">
    <img src="/assets/search.svg" alt="">
    <input type="text" placeholder="Search">
  </div>
  <div class="members">
    <div class="member" *ngFor="let member of members">
      <input type="checkbox" class="checkbox">
      <div class="profile">
        <img [src]="member.image" alt="">
        <div class="member-info">
          <h4>{{member.name}}</h4>
          <p>{{member.email}}</p>
        </div>
      </div>
      <div class="ongoing-projects">
          <p>{{ member.ongoingProjects}} Ongoing Projects</p>
      </div>
    </div>
  </div>
</div>
<div class="mat-dialog-actions">
  <button type="button" class="btn save">ADD</button>
  <button type="button" class="btn cancel">CANCEL</button>
</div>