$primary-text: #B63D3B;

// Secondary Header Starts

mat-toolbar {
    margin-top: 2px;
    background-color: white;
    display: block;
    height: 5.72vh;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    line-height: 5.72vh; 
}


mat-toolbar span {
    color: $primary-text;
    font-size: 1.0rem;
    font-weight: 400;
    margin-left: 2.0rem;
}

.right-menu {
    display: flex;
    height: 100%;
    align-items: center;
    float: right;
}

.btn {
    background-color: white;
    border: none;
    border-radius: 3px; 
    font-size: 0.8rem;
    width: 4.5vw;
    height: 3.64vh;
    text-transform: uppercase;
    text-align: center;
    margin-right: 1.2rem;
}

.back {
    color: #565656;
}

.save {
    color: white;
    background-color: #2E2E2E;
}

// Secondary Header Ends

// Project Setup Wrapper Starts

.wrapper {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 20% 80%;
}


.tabs {
    background-color: rgba(240, 240, 240, 1);
    height: 100%;
}

.tab-item {
    border-top: 1px solid rgba(250, 250, 250, 1);
    border-bottom: 1px solid rgba(250, 250, 250, 1);
    height: 7.812vh;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 7.812vh;
    padding-left: 2.0rem;
    cursor: pointer;
}

.selected {
    background-color: rgba(224, 224, 224, 1);
    font-weight: 600;
}