<app-header></app-header>
<mat-toolbar>
  <span>Project Setup</span>
  <div class="right-menu">
    <button class="btn back">back</button>
    <button class="btn save">save</button>
  </div>
</mat-toolbar>
<div class="wrapper"> 
  <div class="tabs" >
      <!-- [routerLink]="['./details']" -->
    <div class="tab-item selected" (click)="goToDetails()">
      <p>Project Details</p>
    </div>
    <!-- [routerLink]="['./milestones']" -->
    <div class="tab-item" (click)="goToMilestones()">
      <p>Milestones & Tasks</p>
    </div>
    <!-- [routerLink]="['./teams']" -->
    <div class="tab-item" (click)="goToTeams()">
      <p>Teams</p>
    </div>
    <!-- [routerLink]="['./summary']" -->
    <div class="tab-item" (click)="goToSummary()">
      <p>Summary Layout</p>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>