<app-header></app-header>
<mat-toolbar>
  <span>Project Setup</span>
  <div class="right-menu">
    <button class="btn back">back</button>
    <button class="btn save">save</button>
  </div>
</mat-toolbar>
<div class="wrapper"> 
  <div class="tabs" >
    <div class="tab-item" (click)="goToDetails()" 
      [ngClass]="{'selected' : detailsTab}">
      <p>Project Details</p>
    </div>
    <div class="tab-item" (click)="goToMilestones()" 
      [ngClass]="{'selected' : milestonesTab}">
      <p>Milestones & Tasks</p>
    </div>
    <div class="tab-item" (click)="goToTeams()" 
      [ngClass]="{'selected' : teamsTab}">
      <p>Teams</p>
    </div>
    <div class="tab-item" (click)="goToSummary()"
      [ngClass]="{'selected' : summaryTab}">
      <p>Summary Layout</p>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>